@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.left-side {
    background: rgba(251, 251, 251, 1);
}

.text1 {
    float: right;
    margin-top: 55px;

    h2 {
        text-align: right;
        width: 315px;
    }

    p {
        text-align: right;
        width: 315px;
    }
}

.bth1 {
    float: right;
    width: 140px;
    height: 40px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 14px;
    background: rgba(70, 163, 88, 1);

    img {
        vertical-align: middle;
    }

    span {
        vertical-align: bottom;
    }

    display: inline-block;
}

.spn1 {
    color: white;
}

.right-side {
    background: rgba(251, 251, 251, 1);
}

.text2 {
    float: right;
    margin-top: 55px;

    h2 {
        text-align: right;
        width: 315px;
    }

    p {
        text-align: right;
        width: 315px;
    }
}

.bth2 {
    float: right;
    width: 140px;
    height: 40px;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 14px;
    background: rgba(70, 163, 88, 1);

    img {
        vertical-align: middle;
    }

    span {
        vertical-align: bottom;
    }

    display: inline-block;
}

.spn2 {
    color: white;
}

.wrapper {
    margin-top: 100px;
}

h1 {
    text-align: center;
}

.text3 {
    text-align: center;
}

.spn3 {
    color: rgba(70, 163, 88, 1);
}

.container2 {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.left {
    background: rgba(251, 251, 251, 1);
}

.text4 {
    h2 {
        margin-left: 15px;
        width: 250px;
    }

    p {
        margin-top: -4px;
        margin-left: 15px;
        width: 252px;
    }
}

.bth3 {
    width: 109px;
    height: 17px;
    margin-left: 5px;
    font-size: 15px;
    border: none;
    background: white;

    img {
        vertical-align: middle;
    }

    span {
        vertical-align: top;
    }

    display: inline-block;
}

.spn4 {
    color: rgba(61, 61, 61, 1);
}